<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apisparta20160809122302.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apisparta20160809122302.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APISparta20160809122302</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$APISparta20160809122302</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbSpartaEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=omadb.database.windows.net,1433;Initial Catalog=dbSparta;Persist Security Info=True;User ID=omaadmin;Password=Sumannas1;Application Name=EntityFramework" Name="Data Source=omadb.database.windows.net,1433;Initial Catalog=dbSparta;Persist Security Info=True;User ID=omaadmin;Password=Sumannas1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ThinkLogic.dbSpartaEntities1, ThinkLogic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbSpartaEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Logics.csdl|res://*/Logics.ssdl|res://*/Logics.msl;provider=System.Data.SqlClient;provider connection string="Data Source=omadb.database.windows.net,1433;Initial Catalog=dbSparta;Persist Security Info=True;User ID=omaadmin;Password=Sumannas1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>